/*big tablet to 1200px (width smaller than the 1140px row)*/
@media only screen and (max-width:1200px){

}


/*Small tablet to big tablets;from 769px to 1023px*/
@media only screen and (max-width:1023px){
    
}

/*Small phones to small tablets;from 481px to 768px*/
@media only screen and (max-width:768px){

    
}

/*Small phones:from 0 to 480px*/
@media only screen and (max-width:560px){
    .container{
        width:100%;
        padding:0 2%;
    }
    input,
    select,
    button{
        width:100% !important;
        margin-bottom: 10px;
        margin-left:0 !important;
        }
    #plusBtn,
    #showXMLBtn{background:#959698;
        }
    
}